/*
Name: Zombie Coffee Shop
Author: Allen Harguess AKA VANTHROMHRE
Author URI: http://www.harguess.com
Version: 1.0
*/

@charset "utf-8";
img, object, embed, video {
	max-width: 100%;
}

a:link {
	text-decoration: none;
	color: #ffffff;
}
a:visited {
	text-decoration: none;
	color: #690B00;
}
a:hover {
	text-decoration: none;
	color: #000000;
}
a:active {
	text-decoration: none;
	color: #690B00;
}

body {
	background-color: #000000;
	color: #FF0000;
} 
.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 95.8333%;
	padding-left: 2.0833%;
	padding-right: 2.0833%;
	clear: none;
	float: none;
}
#banner {
}
#hnav {
}
#item1 {
	width: 100%;
}
#item2 {
	width: 100%;
	clear: both;
	margin-left: 0;
}
#copyright {
	color: #cccccc;
	text-align: center;
	background-color: #555555;
	border-radius: 5px;
}
#phonebanner {
	display: block;
}
#banner #phonebanner img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.mainnav {
}
.menuitem {
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	color: #cccccc;
	background-color: #555555;
	border-radius: 5px;
	width: 100%;
	clear: both;
	margin-left: 0;
}
#tabletbanner {
	display: none;
}
#desktopbanner {
	display: none;
}
.zeroMargin_mobile {
	margin-left: 0;
}
.hide_mobile {
	display: none;
}

/* Tablet Layout: 481px to 768px. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 98.3333%;
	padding-left: 0.8333%;
	padding-right: 0.8333%;
	clear: none;
	float: none;
	margin-left: auto;
}
#banner {
}
#hnav {
}
#item1 {
	width: 49.1525%;
}
#item2 {
	width: 49.1525%;
	margin-left: 1.6949%;
	clear: none;
}
#copyright {
}
#phonebanner {
	display: none;
}
.mainnav {
}
.menuitem {
	width: 18.644%;
	margin-left: 1.6949%;
	clear: none;
}
#tabletbanner {
	display: block;
}
#desktopbanner {
	display: none;
}
.hide_tablet {
	display: none;
}
.zeroMargin_tablet {
	margin-left: 0;
}
}

/* Desktop Layout: 769px to a max of 1232px. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 98.3333%;
	max-width: 1232px;
	padding-left: 0.8333%;
	padding-right: 0.8333%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#banner {
}
#hnav {
}
#item1 {
	width: 100%;
	text-align: center;
}
#item2 {
	width: 49.1525%;
	clear: none;
	margin-left: 1.6949%;
}
#copyright {
}
#phonebanner {
	display: none;
}
.mainnav {
}
.menuitem {
	width: 18.644%;
	clear: none;
	margin-left: 1.6949%;
}
#tabletbanner {
	display: none;
}
#desktopbanner {
	display: block;
}
.zeroMargin_desktop {
	margin-left: 0;
}
.hide_desktop {
	display: none;
}
}
