/*
Author: VANTHROMHRE
Author URI: http://www.harguess.com
Version: 1.0
*/

/* Cells */
.woman {
	width:85%;
	height:76.6%;
}

.scene {
	width:67%;
	height:80%;
}


.filterqueen {
	width:56%;
	height:77%;
}

.icon1 {
	width:31%;
	height:29%;
}

.icon2 {
	width:28%;
	height:35%;
}

.icon3 {
	width:35%;
	height:38%;
}

.logo {
	width:96%;
	height:90%;
}

.guarantee {
	width:25%;
	height:23%;
}





